.history-right-column {
  background-color: white;
  height: 560px;
}

.bi-play-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: rgb(255, 255, 255);
  font-size: 50px;
  opacity: 0.8;
}

.card:hover .bi-play-fill {
  display: inline;
  color: rgb(241, 240, 240);
  background: rgba(0, 0, 0, 0.9);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi-x-lg {
  position: absolute;
  top: 10px;
  right: 13px;
  color: #2c3131c7;
  cursor: pointer;
  padding: 2px 8px;
  border-radius: 4px;
}

.card:hover .bi-x-lg {
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

.card:hover .card-top-image {
  filter: brightness(0.7);
}
